.notfound {
  text-align: center;
  margin-bottom: 20px;
}

.goBackButton {
  font-weight: 800;
  font-size: 2em;
  background: -webkit-linear-gradient(0deg, #2631fd, #a01dfd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
